<mat-card [ngStyle]="{'backgroundColor': noteDetail.color}" >
  
  <mat-card-title>
    <!-- <input matInput class="takeanote" [(ngModel)]="note.title" placeholder="title" id="title"  style="margin-left:0px;" > </mat-card-title> -->
  <!--   
    <textarea class="takeanote" placeholder="Title" [(ngModel)]="note.title" value="hi" style="margin-left:0px;" matInput
    cdkTextareaAutosize
               #autosize="cdkTextareaAutosize"
               cdkAutosizeMinRows="0"
               cdkAutosizeMaxRows="40"
    ></textarea> -->
    <p>
    {{noteDetail.title}}
  </p>
  </mat-card-title>
  
  <mat-card-subtitle>
    <!-- <input matInput class="inputclass" [(ngModel)]="note.description" placeholder="take a note...." id="description" required> -->
  
    <!-- <div aria-placeholder="take a note...." contenteditable="true" role="textbox" class="takeanote" >
    </div> -->
         
               <!-- <textarea class="takeNote" placeholder="Take a note..." [(ngModel)]="note.description" style="margin-left:0px;" 
               cdkTextareaAutosize
               #autosize="cdkTextareaAutosize"
               cdkAutosizeMinRows="0"
               cdkAutosizeMaxRows="40"
               >
               </textarea> -->
               <p>
                 {{noteDetail.description}}
               </p>
      
  </mat-card-subtitle>
  <mat-card-footer>
  <button mat-icon-button  matTooltip="More" [matMenuTriggerFor]="settingsForHeader">
    <mat-icon aria-label="Example icon-button with a heart icon">
      more_vert
    </mat-icon>

  </button>
  <mat-menu #settingsForHeader="matMenu">
    <button mat-menu-item (click)="deleteForever()">Delete forever</button>
    <button mat-menu-item (click)="restoreNote()">Restote Note</button>
    </mat-menu>

</mat-card-footer>